/build/
/dist/
/target
/nbproject
/NMS_1_11_R1/target/
/Zenchantments/target/
/NMSAdapterInterface/target/
/Bukkit_Only/target/
/NMS_1_10_R1/target/
/CompatibilityAdapter/target/
/NMS_1_12_R1/target/